/* like in colors.js */

.data-module-legend {
  display: flex;
  align-items: center;
  gap: 10px;
}

.module-legend {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.module-legend::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
}

.module-legend--position-pattern-light::before,
.module-legend--message-light::before {
  background-color: #93ff93;
}

.module-legend--position-pattern-dark::before,
.module-legend--message-dark::before {
  background-color: #00aa00;
}

.module-legend--alignment-pattern-light::before,
.module-legend--segment-length-light::before {
  background-color: #f5f584;
}

.module-legend--alignment-pattern-dark::before,
.module-legend--segment-length-dark::before {
  background-color: #b4b400;
}

.module-legend--timing-pattern-light::before,
.module-legend--mode-light::before {
  background-color: #62d3ff;
}

.module-legend--timing-pattern-dark::before,
.module-legend--mode-dark::before {
  background-color: #5a5aff;
}

.module-legend--version-pattern-light::before,
.module-legend--padding-codeword-light::before {
  background-color: #ff9494;
}

.module-legend--version-pattern-dark::before,
.module-legend--padding-codeword-dark::before {
  background-color: #ee0000;
}

.module-legend--format-pattern-light::before {
  background-color: #f8a4ff;
}

.module-legend--format-pattern-dark::before {
  background-color: #f147ff;
}